* { /*Default settings for webpage*/
  margin: 0;
  padding: 0;
}

body { /*Default settings for visible content*/
  background-color: black;
  color: Seashell;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
}

.copyright { /*Copyright in footer*/
  text-align: left;
  margin: 20px;
}

.header { /*Header of webpage*/
  background-color: black;
  border-bottom: 1px solid Seashell;
  display: flex;
  height: 69px;
  justify-content: flex-start;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.info { /*Information in footer (other than copyright)*/
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  margin-bottom: 40px;
  margin-top: 10px;
}

.location { /*Each location in Locations section of page*/
  background-color: black;
  display: inline-flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
  margin: 10px;
  padding: 0 40px;
  width: 200px;
}

.locations {  /*Locations section of page*/
  /*align-content: space-around;*/
  background-image: url(../images/locations.jpg);
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: flex-end;
  padding-top: 45px;
  width: 1200px;
}

.locations-container { /*Contains location items in Locations section*/
  display: flex;
  height: 450px;
  justify-content: center;
  margin-top: 8px;
}

.logo-container { /*Flexbox containing logo image*/
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.main { /*Main section of webpage*/
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 2100px;
  justify-content: space-around;
  position: relative;
  top: 38px;
}

.month-items { /*items in tea of the month section*/
  align-content: space-around;
  display: flex;
  flex-wrap: wrap;
  height: 525px;
  justify-content: space-around;
}

.mission { /*Mission statement section of webpage*/
  align-items: center;
  background-image: url("../images/background.jpg");
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  width: 1200px;
}

.mission-item {  /*Items within the mission statement section*/
  background-color: black;
  padding: 10px;
  width: 100%;
}

.nav-link { /*Links in header*/
  border-bottom: 1px solid white;
  margin: 20px;
}

.page-nav { /*Group of links in header (not real links)*/
  align-items: center;
  display: inline-flex;
  flex: 2 750px;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 500px;
}

.tea-month { /*Tea of the month section*/
  display: flex;
  flex-direction: column;
  height: 660px;
  justify-content: space-around;
  width: 1000px;
}

.tea-month img { /*Images in Tea of the Month section*/
  height: 200px;
  margin-bottom: 10px;
  width: 300px;
}

#logo { /*Logo image*/
  height: 50px;
  margin: 10px;
}
